<div class="container" fxLayout="column">

  <div fxFlex="100" fxLayoutAlign="center">
    <h2 class="mat-h2" color='primary' id="title" (click)="hideImageViewer()">{{pin.name}}</h2>
  </div>

  <div *ngIf="pin.name!='Select a pin'">
    <div *ngIf="imageViewer==false" class="container" fxLayout="row wrap" fxFlex="100"
      fxLayoutAlign="space-around center" fxLayoutAlign.xs="center" fxLayoutGap="0.5%">
      <mat-card fxFlexAlign="stretch" fxLayoutAlign="center center" fxFlex="32" fxFlex.xs="95"
        *ngFor="let img of pin.images;let i = index" (click)="showImageViewer(i)">
        <img data-cy="images" mat-card-image src={{img.src}}>
      </mat-card>
    </div>
    <div class="imageViewerContainer" *ngIf="imageViewer==true">
      <div style="height: 37em">
        <ngx-image-viewer [src]="images" 
        [(index)]="imageViewerIndex"
        ></ngx-image-viewer>

      </div>
    </div>

  </div>

</div>