<mat-card>
    <mat-card-title>Delete</mat-card-title>
    <mat-card-content class="container" fxLayoutGap="2%" fxLayout="column"  >
        <button (click)="deletePin()" mat-raised-button color="primary">
          delete pin
        </button>
        <button (click)="deleteAllImages()" mat-raised-button color="primary">
          delete images
        </button>
        <button (click)="deleteAllPins()" mat-raised-button color="primary">
            delete pins
        </button>
    </mat-card-content>
</mat-card>
