<div id="login" fxLayout="row" fxLayoutAlign="center center" >
  <mat-card>
    <form [formGroup]="admin" (ngSubmit)="onSubmit()">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title >Login</mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input
            matInput
            placeholder="email"
            aria-label="email"
            data-cy="email"
            formControlName="username"
            required
          />
          <mat-error *ngIf="admin.get('username')['errors']?.required && 
          admin.get('username').touched">
        Is required
      </mat-error>
      <mat-error *ngIf="!admin.valid && !admin.get('username')['errors']?.required && 
      admin.get('username').touched">
    Must be Email address
  </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="password"
            aria-label="password"
            data-cy="password"
            formControlName="password"
            required
          />
          <mat-error *ngIf="admin.get('password')['errors']?.required && 
          admin.get('password').touched">
        Is required
      </mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">

        <button
          mat-raised-button
          type="submit"
          color="primary"  
          data-cy="loginButton"
          [disabled]='!admin.valid'
        >
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>